
<header class="wx-header">
  <div class="wx-header--logo"></div>
  <nav class="wx-header--nav">
    <ul class="wx-nav--list">
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
</header>
<section class="wx-hero">
  <h2 class="wx-hero--title">Integrating Globally Connected Crowds <br> We simplify the complexities</h2><a class="cta-btn">See products</a>
  <div class="wx-hero--image"></div>
</section>
<section class="wx-products">
  <h3 class="wx-section--title">We Supercharge Business</h3>
  <div class="wx-products--list">
    <div class="wx-product">
      <div class="wx-product--image"></div>
      <div class="wx-product--name">People</div>
      <div class="wx-product--desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, dolore?</div>
    </div>
    <div class="wx-product">
      <div class="wx-product--image"></div>
      <div class="wx-product--name">Processes</div>
      <div class="wx-product--desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, dolore?</div>
    </div>
    <div class="wx-product">
      <div class="wx-product--image"></div>
      <div class="wx-product--name">systems</div>
      <div class="wx-product--desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, dolore?</div>
    </div>
  </div>
</section>
<section class="wx-services">
  <div class="wx-services">
    <div class="wx-service">
      <div class="wx-service--left">
        <div class="wx-service--image"></div>
      </div>
      <div class="wx-service--right">
        <div class="wx-service--name">Property Tax Software</div>
        <div class="wx-service--desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum suscipit, in error ratione possimus enim.</div><a href="#" class="wx-service--cta cta-btn">See details</a>
      </div>
    </div>
    <div class="wx-service">
      <div class="wx-service--left">
        <div class="wx-service--image"></div>
      </div>
      <div class="wx-service--right">
        <div class="wx-service--name">Data Acquisition</div>
        <div class="wx-service--desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum suscipit, in error ratione possimus enim.</div><a href="#" class="wx-service--cta cta-btn">See details</a>
      </div>
    </div>
  </div>
</section>
<section class="wx-clients">
  <div class="wx-client">
    <div class="wx-client--image"></div>
    <div class="wx-client--content">
      <div class="wx-client--response">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nam provident ratione magnam inventore, expedita. Asperiores dolorem sit deserunt provident!</div>
      <div class="wx-client">
        <div class="wx-company--thumb"></div>
        <div class="wx-client--name"></div>
        <div class="wx-client-position"></div>
      </div>
    </div>
  </div>
</section>